$anim: 150ms ease-in-out;
$boxColor: #d6d6d6;
$boxHoverColor: #d6d6d6;
$boxFocusedColor: #fff;
$buttonColor: #d6d6d6;
$buttonHoverColor: #cbcbcb;
$buttonClickedColor: #b7b7b7;
$buttonDisabledColor: #858585;
