@import "variables";

:host {
  display: flex;
  position: relative;
}

.input-box {
  flex: 1;
  color: $boxFontColor;
  font-family: $boxFontFamily;
  border-radius: 4px;
  transition: background-color $anim, outline-color $anim;
  overflow: hidden;
  outline: 2px solid transparent;
  background-color: $boxColor;
  display: flex;
  align-items: center;
  padding: 2px 2px 2px 5px;

  .input {
    border: none;
    outline: none;
    font-size: inherit;
    background-color: $boxColor;
    transition: background-color $anim;
    flex-grow: 1;
    padding: 0 2px 0 0;
    resize: none;
  }

  .buttons {
    display: flex;
    align-items: stretch;
    gap: 2px;
  }

  &:hover {
    outline-color: $boxOutlineColorHover;
    background-color: $boxHoverColor;
    input {
      background-color: $boxHoverColor;
    }
  }

  &:focus-within {
    background-color: $boxFocusedColor;
    outline: 2px solid $boxOutlineColor;
    .input {
      background-color: $boxFocusedColor;
    }
  }

  &:disabled {
    outline-color: transparent;
  }
}

.textarea-box .input {
  height: 100%;
  font-family: inherit;
  padding: 2px 2px 2px 2px;
}
