/* You can add global styles to this file, and also import other style files */
//Inputs
@import "./styles/inputs/input-box.scss";
@import "./styles/inputs/btn-styles.scss";

html {
  height: 100%;
  overflow: hidden;
}
body {
  background-color: #585858;
  color: #fff;
  height: 100%;
}
